/* .outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.player-hand {
  display: flex;
}

.heart-code-card-red {
  margin: 10px;
  width: 150px;
  height: 300px;  
  border: 2px solid black;
  background: red;
}

.heart-code-card-green {
  margin: 10px;
  width: 150px;
  height: 300px;
  border: 2px solid black;
  background: green;
}

.heart-code-card-blue {
  margin: 10px;
  width: 150px;
  height: 300px;
  border: 2px solid black;
  background: blue;
}

.heart-code-card-black {
  margin: 10px;
  width: 150px;
  height: 300px;  
  border: 2px solid black;
  background: black;
  color: white;
}

.heart-code-card-purple {
  margin: 10px;
  width: 150px;
  height: 300px;
  border: 2px solid black;
  background: purple;
} */