body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(240,240,240);
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

.someclass { color: rgb(255, 119, 0); }
  